<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>eSaude</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>
	<!-- / Module Properties -->

	
	<!-- Required Modules -->
	<require_modules>

		<require_module version="${metadatasharingVersion}">org.openmrs.module.metadatasharing</require_module>
			
	</require_modules>
	<!-- / Required Modules -->
	
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.ESaudeMetadataActivator</activator>

	<globalProperty>
		<property>esaudemetadata.hfc</property>
		<description>This is the unique code given to a facility to be used when converting mysql to access</description>
	</globalProperty>

	<globalProperty>
		<property>esaudemetadata.dateToImportTo</property>
		<description>This field specifies the encounterdate to use when importing - yyyy-mm-dd</description>
	</globalProperty>

	<!-- Maps hibernate file's, if present -->
	<mappingFiles>
				
		EsaudeMetadata.hbm.xml
				
	</mappingFiles>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

</module>

